<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Pregunta a la IA</h2>

  <ion-item>
    <ion-label position="floating">Escribe tu pregunta</ion-label>
    <ion-input type="text" style="color: black;" [(ngModel)]="question"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="sendQuestion()" [disabled]="loading">
    <ion-spinner *ngIf="loading"></ion-spinner>
    <span *ngIf="!loading">Enviar Pregunta</span>
  </ion-button>

  <ion-card *ngIf="response">
    <ion-card-header>
      <ion-card-title>Respuesta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ response }}
    </ion-card-content>
  </ion-card>
</ion-content>
